.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.password-input {
  width: 300px;
  height: 40px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.password-button {
  margin-left: 10px;
  height: 56px;
  padding: 8px;
  border: none;
  background-color: grey;
  border-radius: 4px;
}
.password-button p {
  color: #fff;
}
.section {
  display: inline-block;
  width: 100px;
  height: 20px;
  margin-right: 5px;
}
.section:nth-of-type(1) {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.section:nth-of-type(3) {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.gray {
  background-color: gray;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.sections-container {
  margin-top: 10px;
}
